
.button-row {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.card-container {
  margin: 15px;
  max-width: 600px;
}

mat-card-content {
  min-height: 250px;
  max-height: 250px;
  overflow-y: auto;
}