mat-sidenav {
  background-color: var(--mat-sys-surface-container-low);
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  z-index: 2;
}

.app-sidenav-container {
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  flex: 1 0 auto;
}

.active-nav-item {
  background-color: var(--mat-list-active-indicator-color, var(--mat-sys-secondary-container));
}    
